<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="/editstyle.css">
</head>
<body>
    <h1>Editar Usuario</h1>
    <form action="/update/<%= user.id %>" method="POST">
        <div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" value="<%= user.nombre %>" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= user.email %>" required>
        </div>
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>
